ApiKey: "000000000000"
ApiSecret: "000000000000"
PlatformPubKey: "000000000000000"
PlatformRiskPubKey: "000000000000000"
RsaPrivateKey: "000000000000000"
UserOpenId: "HASHXXXXXX"
ChainID: "2"
TokenId: "4"
Amount: "0.01"
AddressTo: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SafeCheckCode: "202409132056666"
CallbackUrl: ""
ChainIDs: "56,2"
WalletAddress: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
ContractAddress: "XRP"
WalletBalanceChainId: 5
